# Predict purchase

## File structure
**event_time**

Time when event happened at (in UTC).

**event_type**

Events can be:

* view - a user viewed a product
* cart - a user added a product to shopping cart
* removefromcart - a user removed a product from shopping cart
* purchase - a user purchased a product
Typical funnel: view => cart => purchase.

**product_id**

ID of a product

**category_id**

Product's category ID

**category_code**

Product's category taxonomy (code name) if it was possible to make it. Usually present for meaningful categories and skipped for different kinds of accessories.

**brand**

Downcased string of brand name. Can be missed.

**price**

Float price of a product. Present.

**user_id**

Permanent user ID.

**user_session**

Temporary user's session ID. Same for each user's session. Is changed every time user come back to online store from a long pause.

## Multiple purchases per session
A session can have multiple purchase events. It's ok, because it's a single order.


data downloaded: https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store  
data source: https://rees46.com/

## Import libraries and load data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import os
from datetime import datetime
import random
import gc
import pickle

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,IntegerType,StringType,DateType,FloatType,StructField,TimestampType
from pyspark.sql.functions import *
import pyspark_jobs

In [3]:
spark = SparkSession \
        .builder \
        .appName("Predict promo") \
        .config("spark.driver.memory", "2g") \
        .config("spark.executor.memory","4g") \
        .config("spark.ui.showConsoleProgress","True")
        .getOrCreate()

In [4]:
schema = StructType([
   StructField("event_time", StringType(), True),
   StructField("event_type", StringType(), True),
   StructField("product_id", IntegerType(), True),
   StructField("category_id", StringType(), True),
   StructField("category_code", StringType(), True),
   StructField("brand", StringType(), True),
   StructField("price", FloatType(), True),
   StructField("user_id", IntegerType(), True),
   StructField("user_session", StringType(), True)])

In [5]:
df = spark.read.format('csv').load('Data/2019-Oct.csv',header=True,schema=schema)

In [6]:
df.show(5)

+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|          event_time|event_type|product_id|        category_id|       category_code|   brand|  price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|2019-10-01 00:00:...|      view|  44600062|2103807459595387724|                null|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 00:00:...|      view|   3900821|2053013552326770905|appliances.enviro...|    aqua|   33.2|554748717|9333dfbd-b87a-470...|
|2019-10-01 00:00:...|      view|  17200506|2053013559792632471|furniture.living_...|    null|  543.1|519107250|566511c2-e2e3-422...|
|2019-10-01 00:00:...|      view|   1307067|2053013558920217191|  computers.notebook|  lenovo| 251.74|550050854|7c90fc70-0e80-459...|
|2019-10-01 00:00:...|      view|   1004237|2053013555631882655|electronics.smart...|   apple|1081.98|535871217|c6bd7419-2748-4c5...|
+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
only showing top 5 rows

In [7]:
df = df.na.drop()

In [8]:
df = df.withColumn('event_time',df.event_time.substr(1,19).cast(TimestampType()))

In [9]:
df = df.withColumn('hour',hour(df.event_time))\
    .withColumn('day_of_week',dayofweek(df.event_time))\
    .withColumn('day_of_month',dayofmonth(df.event_time))\
    .withColumn('month',month(df.event_time))\
    .withColumn('year',year(df.event_time))\
    .withColumn('category',split(df.category_code,"\.").getItem(0))\
    .withColumn('subcategory',split(df.category_code,"\.").getItem(1))

In [10]:
df = df.drop('category_code')

In [11]:
df.printSchema()

root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: float (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- day_of_month: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- subcategory: string (nullable = true)

In [12]:
# df.groupby(['user_session','user_id']).count().show(5)
cnt = df.groupBy(['user_session','user_id']).count().select('user_session','user_id', col('count').alias('activity_count'))
# df = df.join(cnt.select(,on=[df.user_session==cnt.user_session,df.user_id==df.user_id])
# df.show(5)

In [15]:
df = df.join(cnt, ['user_session','user_id'])
df.show(5)

+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+
|        user_session|  user_id|         event_time|event_type|product_id|        category_id|  brand| price|hour|day_of_week|day_of_month|month|year|  category|   subcategory|activity_count|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|  purchase|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+
only showing top 5 rows

In [18]:
from pyspark.sql import Window
window = Window.partitionBy('user_session','user_id').orderBy('event_time')
df = df.withColumn('prev_activity',lag('activity_count',1).over(window))
df.show(5)

+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+
|        user_session|  user_id|         event_time|event_type|product_id|        category_id|  brand| price|hour|day_of_week|day_of_month|month|year|  category|   subcategory|activity_count|prev_activity|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|         null|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|  purchase|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|         null|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|            4|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+
only showing top 5 rows

In [20]:
from itertools import chain
d = {'purchase':1,'view':0,'cart':0}
mapping = create_map([lit(x) for x in chain(*d.items())])
df = df.withColumn('is_purchased',coalesce(mapping[df['event_type']],df['event_type']).alias('is_purchased'))
df.show(5)

+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+
|        user_session|  user_id|         event_time|event_type|product_id|        category_id|  brand| price|hour|day_of_week|day_of_month|month|year|  category|   subcategory|activity_count|prev_activity|is_purchased|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|         null|           0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|  purchase|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|           1|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|           0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|         null|           0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|            4|           0|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+
only showing top 5 rows

In [21]:
df = df.withColumn('prev_purchase',lag('is_purchased',1).over(window))
df.show()

+--------------------+---------+-------------------+----------+----------+-------------------+-------+-------+----+-----------+------------+-----+----+-----------+--------------+--------------+-------------+------------+-------------+
|        user_session|  user_id|         event_time|event_type|product_id|        category_id|  brand|  price|hour|day_of_week|day_of_month|month|year|   category|   subcategory|activity_count|prev_activity|is_purchased|prev_purchase|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+-------+----+-----------+------------+-----+----+-----------+--------------+--------------+-------------+------------+-------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|      view|   5000556|2053013566100866035|brother| 780.53|  13|          7|          26|   10|2019| appliances|sewing_machine|             3|         null|           0|         null|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|  purchase|   5000556|2053013566100866035|brother| 780.53|  13|          7|          26|   10|2019| appliances|sewing_machine|             3|            3|           1|            0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|      view|   5000556|2053013566100866035|brother| 780.53|  13|          7|          26|   10|2019| appliances|sewing_machine|             3|            3|           0|            1|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|      view|  28716983|2053013565069067197|respect|  71.82|   7|          3|          22|   10|2019|    apparel|         shoes|             4|         null|           0|         null|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|      view|  28716983|2053013565069067197|respect|  71.82|   7|          3|          22|   10|2019|    apparel|         shoes|             4|            4|           0|            0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:14:47|      view|  28716984|2053013565069067197|respect|  71.82|   7|          3|          22|   10|2019|    apparel|         shoes|             4|            4|           0|            0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:15:06|      view|  28717002|2053013565069067197|respect|  71.82|   7|          3|          22|   10|2019|    apparel|         shoes|             4|            4|           0|            0|
|000729f8-7f6c-43f...|533784978|2019-10-12 18:16:54|      view|   5100719|2053013553341792533|samsung| 151.61|  18|          7|          12|   10|2019|electronics|        clocks|             1|         null|           0|         null|
|0008e4f7-7dba-484...|515171279|2019-10-06 18:30:52|      view|   1005105|2053013555631882655|  apple|1415.48|  18|          1|           6|   10|2019|electronics|    smartphone|             1|         null|           0|         null|
|00090265-b348-494...|534798873|2019-10-06 11:32:57|      view|  21401211|2053013561579406073|  casio|  78.71|  11|          1|           6|   10|2019|electronics|        clocks|             5|         null|           0|         null|
|00090265-b348-494...|534798873|2019-10-06 11:33:45|      view|  21400934|2053013561579406073|  casio|   77.7|  11|          1|           6|   10|2019|electronics|        clocks|             5|            5|           0|            0|
|00090265-b348-494...|534798873|2019-10-06 11:34:24|      view|  21400503|2053013561579406073|  casio|   76.7|  11|          1|           6|   10|2019|electronics|        clocks|             5|            5|           0|            0|
|00090265-b348-494...|534798873|2019-10-06 11:34:44|      view|  21403660|2053013561579406073|  casio|  34.98|  11|          1|           6|   10|2019|electronics|        clocks|             5|            5|           0|            0|
|00090265-b348-494...|534798873|2019-10-06 11:35:40|      view|  21400927|2053013561579406073|  casio|  57.66|  11|          1|           6|   10|2019|electronics|        clocks|             5|            5|           0|            0|
|000a2486-d83b-4a1...|513286804|2019-10-06 04:55:50|      view|   1004858|2053013555631882655|samsung| 131.77|   4|          1|           6|   10|2019|electronics|    smartphone|             2|         null|           0|         null|
|000a2486-d83b-4a1...|513286804|2019-10-06 04:59:01|      view|   1004857|2053013555631882655|samsung| 130.25|   4|          1|           6|   10|2019|electronics|    smartphone|             2|            2|           0|            0|
|000b270e-c062-4d0...|547454003|2019-10-24 06:41:23|      view|   4803771|2053013554658804075|   sony| 409.02|   6|          5|          24|   10|2019|electronics|         audio|             2|         null|           0|         null|
|000b270e-c062-4d0...|547454003|2019-10-24 06:51:50|      view|   4803396|2053013554658804075|    jbl|  33.21|   6|          5|          24|   10|2019|electronics|         audio|             2|            2|           0|            0|
|001209b4-a881-481...|516124736|2019-10-13 12:13:07|      view|   1004787|2053013555631882655| xiaomi| 514.79|  12|          1|          13|   10|2019|electronics|    smartphone|             2|         null|           0|         null|
|001209b4-a881-481...|516124736|2019-10-13 12:13:29|      view|   1004868|2053013555631882655| xiaomi| 514.79|  12|          1|          13|   10|2019|electronics|    smartphone|             2|            2|           0|            0|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+-------+----+-----------+------------+-----+----+-----------+--------------+--------------+-------------+------------+-------------+
only showing top 20 rows

In [31]:
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCols=['event_type','brand','category','subcategory'],outputCols=['event_type_tr','brand_tr','category_tr','subcategory_tr'])
indexed = indexer.fit(df).transform(df)
indexed.show(5)

+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|        user_session|  user_id|         event_time|event_type|product_id|        category_id|  brand| price|hour|day_of_week|day_of_month|month|year|  category|   subcategory|activity_count|prev_activity|is_purchased|prev_purchase|event_type_tr|brand_tr|category_tr|subcategory_tr|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|         null|           0|         null|          0.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|  purchase|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|           1|            0|          2.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|      view|   5000556|2053013566100866035|brother|780.53|  13|          7|          26|   10|2019|appliances|sewing_machine|             3|            3|           0|            1|          0.0|   186.0|        1.0|          20.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|         null|           0|         null|          0.0|    11.0|        3.0|           7.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|      view|  28716983|2053013565069067197|respect| 71.82|   7|          3|          22|   10|2019|   apparel|         shoes|             4|            4|           0|            0|          0.0|    11.0|        3.0|           7.0|
+--------------------+---------+-------------------+----------+----------+-------------------+-------+------+----+-----------+------------+-----+----+----------+--------------+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
only showing top 5 rows

In [37]:
import pyspark_jobs
schema = {'prev_activity':'int','prev_purchase':'int','is_purchased':'int'}
indexed = pyspark_jobs.change_col_type(indexed,schema)
indexed.printSchema()

root
 |-- user_session: string (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- event_time: timestamp (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: string (nullable = true)
 |-- price: float (nullable = false)
 |-- hour: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- day_of_month: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- activity_count: long (nullable = false)
 |-- prev_activity: integer (nullable = true)
 |-- is_purchased: integer (nullable = true)
 |-- prev_purchase: integer (nullable = true)
 |-- event_type_tr: double (nullable = false)
 |-- brand_tr: double (nullable = false)
 |-- category_tr: double (nullable = false)
 |-- subcategory_tr: double (nullable = false)

In [32]:
indexed = indexed.drop('event_type','brand','category','subcategory')
indexed.show(5)

+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|        user_session|  user_id|         event_time|product_id|        category_id| price|hour|day_of_week|day_of_month|month|year|activity_count|prev_activity|is_purchased|prev_purchase|event_type_tr|brand_tr|category_tr|subcategory_tr|
+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|         null|           0|         null|          0.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|            3|           1|            0|          2.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|            3|           0|            1|          0.0|   186.0|        1.0|          20.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|  28716983|2053013565069067197| 71.82|   7|          3|          22|   10|2019|             4|         null|           0|         null|          0.0|    11.0|        3.0|           7.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|  28716983|2053013565069067197| 71.82|   7|          3|          22|   10|2019|             4|            4|           0|            0|          0.0|    11.0|        3.0|           7.0|
+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
only showing top 5 rows

In [38]:
indexed = indexed.fillna(0)
indexed.show(5)

+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|        user_session|  user_id|         event_time|product_id|        category_id| price|hour|day_of_week|day_of_month|month|year|activity_count|prev_activity|is_purchased|prev_purchase|event_type_tr|brand_tr|category_tr|subcategory_tr|
+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
|0003726c-81ad-49c...|515826621|2019-10-26 13:26:06|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|            0|           0|            0|          0.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:02|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|            3|           1|            0|          2.0|   186.0|        1.0|          20.0|
|0003726c-81ad-49c...|515826621|2019-10-26 13:27:28|   5000556|2053013566100866035|780.53|  13|          7|          26|   10|2019|             3|            3|           0|            1|          0.0|   186.0|        1.0|          20.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:42|  28716983|2053013565069067197| 71.82|   7|          3|          22|   10|2019|             4|            0|           0|            0|          0.0|    11.0|        3.0|           7.0|
|00050a0a-8c43-4c3...|533688356|2019-10-22 07:13:54|  28716983|2053013565069067197| 71.82|   7|          3|          22|   10|2019|             4|            4|           0|            0|          0.0|    11.0|        3.0|           7.0|
+--------------------+---------+-------------------+----------+-------------------+------+----+-----------+------------+-----+----+--------------+-------------+------------+-------------+-------------+--------+-----------+--------------+
only showing top 5 rows

In [48]:
indexed.repartition(1).write.csv("Data/preprocessed.csv", sep=',')

In [44]:
from pyspark.ml.feature import StandardScaler
import pickle
for i in ['price','hour','day_of_week','day_of_month','month','year','activity_count','prev_activity','is_purchased',\
                                   'prev_purchase','event_type_tr','brand_tr','category_tr','subcategory_tr']:
    
    scaler = StandardScaler(inputCol=i,outputCol=i+'_sc')
    scaler = scaler.fit(df)
    pickle.dump(scaler,open('PickledObjects/scaler{}.pkl'.format(i),'wb'))

Exception ignored in: <function JavaWrapper.__del__ at 0x7fab7bfc7050>
Traceback (most recent call last):
  File "/home/csvankhede/spark/python/pyspark/ml/wrapper.py", line 42, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'StandardScaler' object has no attribute '_java_obj'

IllegalArgumentException: requirement failed: Column price must be of type struct<type:tinyint,size:int,indices:array<int>,values:array<double>> but was actually float.